  <%= @heater.owner %></br>
  <%= @heater.name %>

  <h1> Status log:</h1>
<table>
  <tr>
    <th>
      Lämpötila
    </th>
    <th>
      Viimeksi nähty
    </th>
    <th>
      status
    </th>
    <th>
      Luotu
    </th>
    <th>
      Toiminto
    </th>
  </tr>
  <% @heater.heater_statuses.order(created_at: :asc).each do |h| %>
    <tr>
      <td>
        <%= h.tempature %>
      </td>
      <td>
        <%= h.last_seen %></br>
      </td>
      <td>
        <%= h.status %></br>
      </td>
      <td>
        <%= time_ago_in_words(h.created_at) %>
      </td>
      <td>
        <%= link_to 'Poista', heater_heater_status_path(@heater,h), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'heater_commands/show', heater_command: @heater.heater_commands %>
