<h1> Komento log:</h1>
<table>
<tr>
  <th>
    Toimitettu
  </th>
  <th>
    Komento
  </th>
  <th>
    Lämmitysaika
  </th>
  <th>
    Luotu
  </th>
</tr>
<% heater_command.order(created_at: :desc).each do |h| %>
  <tr>
    <td>
      <%= h.seen %>
    </td>
    <td>
      <%= h.command %></br>
    </td>
    <td>
      <%= h.heating %></br>
    </td>
    <td>
      <%= time_ago_in_words(h.created_at) %>
    </td>
  </tr>
<% end %>
</table>

<%= render template: "heater_commands/new", command: heater_command %>
