<div id="graph" style="width: 60%"></div>
<script>
  new Dygraph(document.getElementById("graph"),
  "<%= get_csv_path(days: @days) %>",
  {
  rollPeriod: 10,
  title: "IoT-Autonpolttaja"
  }

  )
</script>

<%= form_for temp_path, method: :get do |f| %>
  <%= f.label :days %>
  <%= text_field_tag :days, params[:days] %>
  <%= f.submit 'vaihda', name: nil%>
<% end %>
